
@{
    ViewData["Title"] = "Index";
}

<h3>Categoria</h3>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="mb-3">
            <input type="button" id="btnNuevo" class="btn btn-primary" value="Nuevo" data-toggle="modal" data-target="#exampleModal" onclick="limpiar()" />
        </div>
        <div id="domDinamico"><span>Cargando...</span></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="mensajeVacios"></div>
                    <input type="hidden" id="txtId" class="form-control data" name="IIDCATEGORIA" />
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" style="resize: none;" autocomplete="off" class="form-control data requerido" id="txtNombre" name="NOMBRE" placeholder="Escriba el nombre de la categoria" />
                    </div>
                </div>
                <!--footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <input type="button" class="btn btn-primary" id="btnEnviar" onclick="enviar()" value="Guardar" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/funcionesGenericas.js"></script>
<script>
    $(function () {
        listar();
    });
    function listar() {
        pintarTabla("/categoria/listar", ["ID", "NOMBRE"], ["iidcategoria", "nombre"], "iidcategoria","");
    }
    function eliminar(id) {
        alertify.confirm("Estas seguro de eliminar este registro?", function (e) {
            if (e) {
                $.get("/categoria/eliminar?id=" + id, function (r) {
                    if (r) {
                        alertify.success("Registro eliminado");
                        listar();
                    }
                })
            }
        })
    }
    function enviar() {
        if (validarVacios()) {
            var frm = new FormData();
            capturarDatos(frm);
            $.ajax({
                url: "/categoria/guardar",
                type: "POST",
                processData: false,
                contentType: false,
                data: frm,
                success: function (respuesta) {
                    if (respuesta > 0) {
                        alertify.success("Registro agregado");
                        document.getElementById("btnCerrar").click();
                        listar();
                        limpiar();
                    } else if (respuesta < 0) {
                        alertify.error("Este registro ya existe en la base de datos");
                    } else {
                        alertify.error("Ocurrio un error en el sistema");
                    }
                }
            })
        } else {
            alertify.error("Llene los espacios en rojo");
        }
    }
    function editar(id) {
        $.get("/categoria/obtenerPorId?id=" + id, function (data) {
            $("#txtId").val(data.iidcategoria);
            $("#txtNombre").val(data.nombre);
        })
        colorDefault();
    }
    //pintar la tabla
    function pintarTabla(url, cabecera, propiedades, llavePrimaria, estadoVenta = "") {
        $.get(url, function (data) {
            var html = "";//con esta pintaremos la tabla
            //inicio tabla
            html += '<table class="table table-dark table-responsive-sm" id="paginar">';
            /*cabecera de la tabla*/
            html += '<thead class="">';
            //pintamos las cabeceras utilizando un for
            html += '<tr>';
            for (var i = 0; i < cabecera.length; i++) {
                html += '<th>' + cabecera[i] + '</th>';
            }
            html += '<th>OPERACIONES</th>';
            html += '</tr>';
            html += '</thead>';
            /*cuerpo de la tabla*/
            html += '<tbody>';
            //pintaremos el cuerpo utilizando dos for
            for (var f = 0; f < data.length; f++) {
                html += '<tr>';
                for (var c = 0; c < propiedades.length; c++) {
                    var propiedadActual = propiedades[c];
                    var objeto = data[f];
                    html += '<td>';
                    html += objeto[propiedadActual];
                    html += '</td>';
                }
                //la botonera con las cuales podremos editar y eliminar registros
                html += '<td>';
                html += '<button class="badge badge-primary" onclick="editar(' + objeto[llavePrimaria] + ')" data-toggle="modal" data-target="#exampleModal">editar</button> ';
                html += '<button class="badge badge-primary" onclick="eliminar(' + objeto[llavePrimaria] + ')">eliminar</button> ';
                if (estadoVenta != "") {
                    if (objeto[estadoVenta] == 1) {
                        html += '<button class="badge badge-success" onclick="cambiarEstado(' + objeto[llavePrimaria] + "," + 1 + ')">en venta</button>';
                    } else {
                        html += '<button class="badge badge-danger" onclick="cambiarEstado(' + objeto[llavePrimaria] + "," + 0 + ')">vendido</button>';
                    }
                }
                html += '</td>';
                html += '</tr>';
            }
            html += '</tbody>';
            html += '</table>';
            //fin tabla
            //pintamos la tabla
            document.getElementById("domDinamico").innerHTML = html;
            //agregamos el paginado
            $('#paginar').DataTable({
                pageLength: 8,
                lengthMenu: [8, 15, 20, 25]
            });
        });
    }
</script>

