
@{
    ViewData["Title"] = "ErrorPermiso";
    Layout = null;
}
<style>
    body {
        background-color: #050505 !important;
    }
    h1, p {
        color: #e3e3e3 !important;
    }
    a {
        border: 2px;
        border-radius: 30px !important;
    }
</style>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>Error de permisos</h1>
                    <hr />
                    <p>No tienes permisos para acceder a la pagina...</p>
                    <br />
                    <a href="~/producto/Index" class="btn btn-primary">Regresar a catalogo</a>
                </div>
            </div>
        </div>
    </div>
</body>
