@{
    ViewData["Title"] = "Principal";
}
    <div class="text-center">
        <h1 class="display-4">compratodo</h1>
        <h3>BIENVENIDO</h3>
        <span class="mb-2">La aplicación pensada en hacer más fácil la venta y adquisición de productos.</span>
        <h4>¿Que puedes hacer en esta página?</h4>
        <span>
            En este sitio puedes vender los productos que tu deseas, o puedes revisar el catálogo por si gustas adquirir un producto.
            En el apartado de catálogo se muestra la foto del producto el nombre, precio, descripción y dos formas de contactar con el vendedor.
        </span>
        <br />
        <center>
            <a href="~/Producto/index" class="btn btn-primary" style="border-radius:30px;">Ver catalogo</a>
            @if (ViewBag.id > 0)
            {
                <a href="~/Producto/OpcionesVendedor" class="btn btn-primary" style="border-radius:30px;">Empezar a vender</a>
            }
            else
            {
                <a href="~/Vendedor/index" class="btn btn-primary" style="border-radius:30px;">Empezar a vender</a>
            }
        </center>
    </div>
